/* Add your css code here */
@font-face{
    font-family: "DancingScript";
    src:url(fonts/DancingScript-VariableFont_wght.ttf);
}
.w3-theme-l5 {color:#000 !important; background-color:#daccc9 !important}
.w3-theme-l4 {color:#000 !important; background-color:#daccc9 !important}
.w3-theme-l3 {color:#000 !important; background-color:#daccc9 !important}
.w3-theme-l2 {color:#000 !important; background-color:#ffc266 !important}
.w3-theme-l1 {color:#000 !important; background-color:#ff7d00 !important}
.w3-theme-d1 {color:#fff !important; background-color:#5e2351 !important}
.w3-theme-d2 {color:#fff !important; background-color:#cc7a00 !important}
.w3-theme-d3 {color:#fff !important; background-color:#b36b00 !important}
.w3-theme-d4 {color:#000 !important; background-color:#daccc9 !important}
.w3-theme-d5 {color:#fff !important; background-color:#5e2351 !important}
.w3-theme-d6 {color:#fff !important; background-color:#ff7d00 !important}

.w3-theme-light {color:#000 !important; background-color:#daccc9 !important}
.w3-theme-dark {color:#fff !important; background-color:#daccc9 !important}
.w3-theme-action {color:#fff !important; background-color:#daccc9 !important}

.w3-theme {color:#000 !important; background-color:#daccc9 !important}
.w3-text-theme {color:#5e2351 !important}
.w3-border-theme {border-color:#5e2351 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#5e2351 !important}
.w3-hover-text-theme:hover {color:#5e2351 !important}
.w3-hover-border-theme:hover {border-color:#5e2351 !important}

h2 {
    font-family: "DancingScript",serif !important;
}
h1, h3 {
    font-family: "Montserrat",serif !important;
}
.site-name a {
    text-transform: inherit;
    font-weight: 800;
    color:#5e2351;
}
.w3-large {
    font-size: 26px !important;
}
.site-name-slogan {
    margin-top: 60px;
}
.site-slogan {
    text-transform: inherit;
    margin-top: -17px;
    margin-left: 41px;
}
.ul-0 {
    padding-left: 13px;
}
/* HOME */
.psy-home {
    display: flex;
    flex-wrap: wrap;
}
.item-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.home-items {
    width: 350px;
}
.w3-block-title {
    font-size: 36px;
    font-weight: 700;
}
#block-views-block-frontpage-block-1>.w3-block-title {
    border-bottom:5px solid  #5e2351;
    margin-right: 50%;
}
#block-views-block-frontpage-block-2>.w3-block-title {
    border-bottom:5px solid #ff7d00;
    margin-right: 50%;
}
/* Titre général */
.site-name>.w3-xlarge {
    font-size: 39px !important;
}

/*Titre et menu dans les pages psychomotricité et Ateliers*/
#block-lapsychomotricitepourqui,
#block-lesateliersparentsbebes {
    margin-left: 20px;
}
#block-lapsychomotricitepourqui-menu {
    text-transform: lowercase;
    margin-left: 16px;
    font-size: 42px;
}
#block-lapsychomotricitepourqui-menu::first-letter {
    text-transform: uppercase;
}
#block-lesateliersparentsbebes-menu {
    text-transform: lowercase;
    margin-left: 16px;
    font-size: 42px;
}
#block-lesateliersparentsbebes-menu::first-letter {
    text-transform: uppercase;
}
.field__label {
    font-family: "DancingScript",serif !important;
    color: #ff7d00;
    font-weight: 800;
    font-size: 30px;
}

/* styles dans CKEditor */
.violet {
    color: #5e2351;
}
.orange {
    color: #ff7d00;
}
.info {
    background-color: #daccc9 ;
    padding: 10px;
}
.citation {
    font-family: "DancingScript",serif !important;
    color: #ff7d00;
    font-size: 31px;
    font-weight: 700;
}
.titre-center {
    font-size: 26px;
    text-align: center;
}
.center {
    text-align: center;
}

/* ACCORDION */
.ckeditor-accordion-container > dl dt > a {
  display: block;
  padding: 10px 15px 10px 50px;
  background-color: orange;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  border-bottom: 1px solid #cc7a00;
}
.ckeditor-accordion-container > dl dt > a:hover {
  background-color: #cc7a00;
}
.ckeditor-accordion-container > dl dt.active > a {
  background-color: orange;
}

.plus-etroit {
    margin-left: 20%;
    margin-right: 20%;
}

/* /\* Large Screen Only *\/ */
@media (max-width:1440px) {
    .psy-home {
        display: flex;
        flex-wrap: wrap;
    }
    .item-list-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .home-items {
        width: 400px;
    }
    h2 {
        font-size: 36px;
        font-weight: 700;
    }
    .plus-etroit {
        margin-left: 0%;
        margin-right: 0%;
    }
}
